In [13]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

In [14]:
web = 'https://en.wikipedia.org/wiki/Three_Arrows_Capital'
response = requests.get(web).text
soup = bs(response,'lxml')

In [15]:
blocks = soup.find_all('p')

In [16]:
contents = []

for content in blocks:
    contents.append(content.text)

In [17]:
joined_contents = ' '.join(contents)

In [18]:
sentence_endings = [".", "!", "?"]
sentences = []

start = 0
for i, char in enumerate(joined_contents):
    if char in sentence_endings:
        # Include the punctuation mark with the sentence
        sentences.append(joined_contents[start:i+1].strip())
        start = i + 1  # Move past the punctuation mark

#Group the sentences into chunks of 2
chunks = [" ".join(sentences[i:i+2]) for i in range(0, len(sentences), 2)]

In [19]:
cz_keywords = [
    "Three Arrows Capital", 
    "History", 
    "Licensing and regulatory issues", 
    "Liquidation", 
    "OPNX", 
    "Arrest of Su Zhu"
]

In [20]:
# Function to find keywords in a sentence
def find_keywords(sentence, keywords):
    return [keyword for keyword in keywords if keyword.lower() in sentence.lower()]

# Function to replace empty keyword lists with 'other'
def process_keywords(keywords):
    return ', '.join(keywords) if keywords else "other"

In [21]:
data = {'contents':[],'keywords':[]}

# Process each sentence
for sentence in chunks:
    found_keywords = find_keywords(sentence, cz_keywords)
    data['contents'].append(sentence)
    data['keywords'].append(process_keywords(found_keywords))

In [22]:
df = pd.DataFrame(data)

In [23]:
df

,contents,keywords
0,Three Arrows Capital (also known as 3AC or TAC...,Three Arrows Capital
1,[3][4][5] The company borrowed billions of dol...,other
2,[6][7] The fund appears to have lost in excess...,other
3,"[8][9] In its early years, the company was foc...",other
4,This practice continued until banks started to...,other
5,[11] Blockchain analytics firm Nansen estimate...,other
6,"Su Zhu had more than 500,000 followers shortly...",other
7,"[17] According to a January 2021 SEC filing, T...",other
8,[4][19][20]\n In April 2022 Bloomberg reported...,other
9,[22]\n Cryptocurrencies experienced broad decl...,other
10,[25] The spread between Grayscale GBTC trust u...,other
11,TerraForm Labs Pte Ltd. et al.,other
12,", was filed against Three Arrows and others in...",other
13,"[citation needed]\n On 30 June 2022, the Monet...",other
14,"[28]\n In October 2022, it was reported that T...",Three Arrows Capital
15,Securities and Exchange Commission and the Con...,other
16,"[30] On 22 June, The Wall Street Journal repor...",other
17,"[32] On the same day, a court in the British V...","Three Arrows Capital, Liquidation"
18,"[1][33][34]\n On 2 July 2022, Three Arrows fil...",other
19,[36]\n Genesis Trading's CEO Michael Moro anno...,other
20,com. FTX founder and CEO Sam Bankman-Fried bla...,other
21,[38][10]\n According to court liquidation pape...,"Three Arrows Capital, Liquidation"
22,5 billion. [40]\n In an interview with Bloombe...,other
23,[citation needed]\n According to the New York ...,Liquidation
24,"It's home to ducks, chickens and numerous type...",Three Arrows Capital
25,"""[42]\n In June 2023, Three Arrows liquidators...",other
26,"[43]\n In late 2022, Zhu and Davies started an...",other
27,. .,other
28,"Nothing compares to the energy of a startup. ""...",other
29,[46] Zhu was arrested pursuant to committal or...,other

In [25]:
# save to txt 
df.to_csv('cz1.txt',index=None, sep='\t')

#create branch and make a pull request